.navigation {
  background-color: inherit;
}

.navigationCheckbox {
  display: none;
}

.navigationButton {
  background-color: var(--grey);
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 2rem var(--dark-light);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.navigationBackground {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 2.4rem;
  right: 2.4rem;
  background-color: var(--blue);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}

.navigationCheckbox:checked ~ .navigationBackground {
  transform: scale(80);
}

.navigationCheckbox:checked ~ .navigationNav {
  opacity: 1;
  width: 100%;
}

/* ICON */
.navigationIcon {
  position: relative;
  margin-top: 2rem;
}

.navigationIcon,
.navigationIcon::before,
.navigationIcon::after {
  width: 2.3rem;
  height: 2px;
  background-color: var(--blue);
  display: inline-block;
}

.navigationIcon::before,
.navigationIcon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigationIcon::before {
  top: -0.6rem;
}

.navigationIcon::after {
  top: 0.6rem;
}

.navigationButton:hover .navigationIcon::before {
  top: -0.8rem;
}

.navigationButton:hover .navigationIcon::after {
  top: 0.8rem;
}

.navigationCheckbox:checked + .navigationButton .navigationIcon {
  background-color: transparent;
}

.navigationCheckbox:checked + .navigationButton .navigationIcon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigationCheckbox:checked + .navigationButton .navigationIcon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* effect list items */
.navigationNav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigationList {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigationItem {
  margin: 1rem;
}

.navigationLink:link, .navigationLink:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: var(--grey);
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--grey) 50%);
  background-size: 220%;
  transition: all 0.4s;
  width: 90%;
}

.navigationLink:hover, .navigationLink:active {
  background-position: 100%;
  color: var(--blue);
  transform: translate(1rem);
}
/**
  Breakpoints:
  ------------
  sm: min-width: 640px; // small device
  md: min-width: 768px; // medium device
  lg: min-width: 1024px; // large device
  xl: min-width: 1280px; // extra large device
  2xl: min-width: 1536px; // 2 x extra large device
**/

/** sm breakpoint **/
@media (min-width: 640px) {
  .navigationLink:link, .navigationLink:visited {
    width: 80%;
  }
}

/** md breakpoint **/
@media (min-width: 768px) {

}

/** lg breakpoint **/
@media (min-width: 1024px) {
  .navigation {
    display: none;
  }
}

/** xl breakpoint **/
@media (min-width: 1280px) {

}
